{% extends 'notes/base_page.html' %}

{% block form %}
    <div class="container" id="note">
        <h2>Напишите что-нибудь...</h2>
        <form id="new_note" method="POST" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Опубликовать!</button>
            <button onclick="clearContents()" class="btn btn-default">Очистить</button>
        </form>
    </div>

{% endblock %}

{% block content %}
    <div class="container" >
        {%   for note in notes   %}
            <div>
                <h2><a href="{% url 'note_selected' pk=note.pk %}">{{ note.title }}</a></h2>
                <p>{{ note.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block pagination %}
    <div class="container">
        {% if notes.has_other_pages %}
            <ul class="pagination">
            {% if notes.has_previous %}
                <li><a href="?page={{ notes.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in notes.paginator.page_range %}
                {% if notes.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(текущая)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if notes.has_next %}
                <li><a href="?page={{ notes.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
            </ul>
        {% endif %}
{% endblock %}